<ion-view view-title="Add Vehicle">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">ทะเบียนรถ</span>
                <input class="text-center" type="text" ng-model="cx.newVehicle.PlateNumber">
            </label>
            <label class="item item-input item-select">
                <span class="input-label">ประเภทรถยนต์</span>
                <select ng-model="cx.newVehicle.VehicleTypeId">
                    <option>11</option>
                    <option>13</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <span class="input-label">จังหวัด</span>
                <select ng-model="cx.newVehicle.Province">
                    <option>กรุงเทพฯ</option>
                    <option>อุดรธานี</option>
                    <option>ขอนแก่น</option>
                    <option>อุบลราชธานี</option>
                </select>
            </label>
        </div>
        <button ng-click="cx.Submit()" class="col button button-balanced">
            ยืนยัน
        </button>

    </ion-content>
</ion-view>