<ion-view view-title="รถหมายเลขทะเบียน {{cx.vehicle.VehicleSelected.PlateNumber}}" cache-view="false">
    <ion-content class="padding">
        <h4><i class="icon ion-arrow-right-b"></i> {{cx.amissed.AmissedInfo.Detail}}</h4>
        <h5>{{ cx.amissed.AmissedInfo.SuggestTopic }}</h5>
        <h5>{{ cx.amissed.AmissedInfo.SuggestDetail }}</h5>
        <h4>บันทึกเพิ่มเติม</h4>
        <label class="item item-input">
            <label>{{cx.amissed.AmissedInfo.Comment}}</label>
        </label>
        <img class="col" src="{{cx.amissed.AmissedInfo.PhotoUrl}}" />
    </ion-content>

</ion-view>