
<ion-view view-title="รถหมายเลขทะเบียน {{ cx.vehicle.VehicleSelected.PlateNumber }}" cache-view="false">
    <ion-content class="padding">
        <h4><i class="icon ion-arrow-right-b"></i> {{cx.data.Detail}}</h4>
            <ion-radio ng-model="choice" class="card" ng-value="'A'">ไม่พบพบสิ่งผิดปกติ</ion-radio>
            <ion-radio ng-model="choice" class="card  balanced-bg" ng-value="'B'">พบสิ่งผิดปกติอื่นๆ</ion-radio>
            
        <h4>บันทึกเพิ่มเติม</h4>
        <label class="item item-input">
            <textarea rows="8" cols="10"></textarea>
        </label>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-dark row row-no-padding">
        <button class="button col col-33">วิธีการตวจ</button>
        <button class="button col col-33">ถ่ายภาพ</button>
        <button class="button col col-33">บันทึก</button>
    </ion-footer-bar>
</ion-view>