<ion-view view-title="รถหมายเลขทะเบียน {{cx.data.PlateNumber}}" cache-view="false">
    <ion-content>
        <ion-list>
            <ion-item class="item item-calm " ng-repeat="item in cx.data | filter: { VehicleStatus: 1 }" href="" ui-sref="app.vehicle.status({ vid: item.id })">
                <h2>
                    {{ item.PlateNumber }}
                    <i class="item-note">รอส่งวิเคราะห์</i>
                </h2>
            </ion-item>
        </ion-list>
    </ion-content>
   
</ion-view>