<ion-view view-title="รถหมายเลขทะเบียน {{ cx.vehicle.VehicleSelected.PlateNumber }}" cache-view="false">
    <ion-content class="padding">
        <h4><i class="icon ion-arrow-right-b"></i> {{cx.Detail}}</h4>
            <ion-radio ng-model="cx.AmissIsPass" class="card" ng-value="true">ไม่พบพบสิ่งผิดปกติ</ion-radio>
            <ion-radio ng-model="cx.AmissIsPass" class="card" ng-value="false">พบสิ่งผิดปกติอื่นๆ</ion-radio>
        <h4>บันทึกเพิ่มเติม</h4>
        <label class="item item-input">
            <textarea rows="8" cols="10" ng-model="cx.data.Comment"></textarea>
        </label>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-dark row row-no-padding">
        <button class="button col col-33" ui-sref="app.vehicle.howto({ url: cx.howtourl })">วิธีการตวจ</button>
        <!--<button class="button col col-33" ng-click="cx.OpenHowTo()">วิธีการตวจ</button>-->
        <button class="button col col-33" ng-click="cx.Capture()">ถ่ายภาพ</button>
        <button class="button col col-33" ng-disabled="cx.IsDisableToSubmit()" ng-click="cx.Submit()">บันทึก</button>
    </ion-footer-bar>
</ion-view>