<ion-view cache-view="true">
    <ion-content class="padding">
        <h4><i class="icon ion-arrow-right-b"></i> {{cx.data.Detail}}</h4>
        <button class="button button-block button-balanced">
            ไม่พบสิ่งผิดปกติ
        </button>
        <ion-list>
            <ion-checkbox>พบสิ่งผิดปกติอื่นๆ</ion-checkbox>
        </ion-list>
        <h4>บันทึกเพิ่มเติม</h4>
        <label class="item item-input">
            <textarea rows="8" cols="10"></textarea>
        </label>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-dark row row-no-padding">
        <button class="button col col-33">วิธีการตวจ</button>
        <button class="button col col-33">ถ่ายภาพ</button>
        <button class="button col col-33">บันทึก</button>
    </ion-footer-bar>
</ion-view>