<ion-view view-title="รถหมายเลขทะเบียน {{ cx.vehicle.VehicleSelected.PlateNumber }}" cache-view="false">
    <ion-content>
        <ion-list>
            <ion-item class="item item-calm item-icon-right" ng-repeat="item in cx.topics.TopicInfos" href="" ui-sref="app.vehicle.checkamiss({ tid: item.id })">
                <h2>
                    {{ item.Detail }}
                    <i class="icon ion-model-s" ng-class="{'balanced':  cx.IsPass(item), 'assertive': cx.IsFalse(item)}"></i>
                </h2>
            </ion-item>
            <ion-item class="item item-calm item-icon-right" href="#/app/vehicle/amisseddetail.html" >
                <h2>
                   Test
                    <i class="icon ion-model-s"></i>
                </h2>
            </ion-item>
        </ion-list>
    </ion-content>
   
</ion-view>