<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Login</h1>
        <!--<div class="buttons">
            <button class="button button-clear" ng-click="closeLogin()">Close</button>
        </div>-->
    </ion-header-bar>
    <ion-content>
        <img class="col col-50 col-offset-25" src="img/Logodltmas.png" />
        <form ng-submit="cx.doLogin()">
            <div class="padding">
                <button class="button button-block button-positive" type="submit">Log in with facebook</button>
                <button class="button button-block button-assertive" type="submit">Log in with google</button>
            </div>
        </form>
        <div class="row">
            <div class="col">
            <img class="col" src="img/logo2.png" />
            </div>
            <div class="col">
                <img class="col" src="img/IDDriver.png" />
            </div>
        </div>
    </ion-content>
</ion-modal-view>
