<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Login</h1>
    </ion-header-bar>
    <ion-content>
        <img class="col col-50 col-offset-25" src="img/Logodltmas.png" />
        <form ng-submit="cx.login()">
            <div class="padding">
                <label class="item item-input">
                    <input type="email" placeholder="example@email.com" ng-model="cx.email" required>
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="cx.password" required>
                </label>
                <button class="button button-block button-positive" type="submit">Login</button>
                <button class="button button-block button-positive" type="button">Log in with facebook</button>
                <button class="button button-block button-assertive" type="button">Log in with google</button>
                <button class="button button-block" type="button" ng-click="cx.callRegister()">Register</button>
            </div>
        </form>
        <div class="row">
            <div class="col">
                <img class="col" src="img/logo2.png" />
            </div>
            <div class="col">
                <img class="col" src="img/IDDriver.png" />
            </div>
        </div>
    </ion-content>
</ion-modal-view>
