<ion-view view-title="รถหมายเลขทะเบียน {{ cx.PlateNumber }}" cache-view="false">
    <ion-content>
        <div class="item item-card">
            <label><input type="checkbox" ng-checked="cx.PBRActive">พรบ</label>
            <label><input type="date" class="item-note" value="{{ cx.PBRDate | date: 'longDate' }}" /></label>
        </div>
        <div class="item item-card">
            <label><input type="checkbox" ng-checked="cx.DrivingLicenseActive">พรบ</label>
            <label><input type="date" class="item-note" value="{{ cx.DrivingLicenseDate | date: 'longDate' }}" /></label>
        </div>
        <div class="item item-card">
            <label><input type="checkbox" ng-checked="cx.CheckActive">พรบ</label>
            <label><input type="date" class="item-note" value="{{ cx.CheckDate | date: 'longDate' }}" /></label>
        </div>
        <div class="item item-card">
            <label><input type="checkbox" ng-checked="cx.TaxActive">พรบ</label>
            <label><input type="date" class="item-note" value="{{ cx.TaxDate | date: 'longDate' }}" /></label>
        </div>
        <div class="item item-card">
            <label><input type="checkbox" ng-checked="cx.PayActive">พรบ</label>
            <label><input type="date" class="item-note" value="{{ cx.PayDate | date: 'longDate' }}" /></label>
        </div>
    </ion-content>
</ion-view>