<ion-view view-title="รถหมายเลขทะเบียน {{ cx.PlateNumber }}" cache-view="false">
    <ion-content>
        <ion-checkbox ng-checked="cx.PBRActive">พรบ <a href="" class="button botton-positive item-note">{{ cx.PBRDate | date: 'longDate' }}</a> </ion-checkbox>
        <ion-checkbox ng-checked="cx.DrivingLicenseActive">ใบขับขี่หมดอายุ</ion-checkbox>
        <ion-checkbox ng-checked="cx.CheckActive">ตรวจสภาพ</ion-checkbox>
        <ion-checkbox ng-checked="cx.TaxActive">ต่อภาษีคู่มือรถ</ion-checkbox>
        <ion-checkbox ng-checked="cx.PayActive">จ่ายงวดรถ</ion-checkbox>
    </ion-content>
</ion-view>