<ion-view view-title="รถหมายเลขทะเบียน {{cx.vehicle.VehicleSelected.PlateNumber}}" cache-view="false">
    <ion-content>
        <div class="calm-bg padding">
            <div class="text-center">
                <h4 class="text-center"><i class="icon ion-checkmark"></i> {{ cx.status.ReadyStatus }}</h4>
                <div class="row">
                    <div class="col col-50">
                        <button class="button col button-energized" href="" ui-sref="app.vehicle.checklists">
                            ตรวจรถ
                        </button>
                    </div>
                    <div class="col col-50">
                        <button class="button col button-balanced" ng-disabled="cx.vehicle.VehicleSelected.StatusCode != 1">
                            วิเคราะห์
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <ion-list>
            <ion-item class="item item-calm item-icon-right" ng-repeat="item in cx.topics" href="" ui-sref="app.vehicle.amisseddetail">
                <h2>
                    {{ item.Detail }}
                    <i class="icon ion-model-s" ng-class="{'balanced': cx.IsPass(item), 'assertive': cx.IsFalse(item)}"></i>
                </h2>
            </ion-item>
        </ion-list>

    </ion-content>
    <ion-footer-bar class="bar-dark row">
        <a class="button col col-50" ui-sref="app.vehicle.schedules">แจ้งเตือน</a>
        <a class="button col col-50" ui-sref="app.vehicle.report">สรุป</a>
    </ion-footer-bar>
</ion-view>