<ion-view view-title="DLT Checker" cache-view="false">
    <ion-content>
        <div class="calm-bg padding">
            <label class="item item-light item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" class="light-bg" placeholder="Search" ng-model="searchPlateNumber">
            </label>
        </div>
        <div class="padding-top">
            <div class="energized-bg row">
                <div class="col"><h4 class="light">ยังไม่ตรวจ</h4></div>
            </div>

            <div>
                <ion-list>
                    <ion-item class="item item-calm" ng-repeat="item in cx.DisplayVehichleNotReady() | filter: searchPlateNumber" ng-click="cx.SelectVehicle(item)">
                        <h2>
                            {{ item.PlateNumber }}
                            <i class="item-note">{{ item.VehicleProgress }}%</i>
                        </h2>
                    </ion-item>
                </ion-list>
                <h5 class="text-center" ng-show="cx.DisplayVehichleNotReady().length == 0">ไม่มีข้อมูลของรถ!</h5>
            </div>
        </div>
        <div>
            <div class="energized-bg row">
                <div class="col"><h4 class="light">ตรวจแล้ว</h4></div>
            </div>
            <div>
                <ion-list>
                    <ion-item class="item item-calm" ng-repeat="item in cx.DisplayVehichleReady() | filter: searchPlateNumber" ng-click="cx.SelectVehicle(item)">
                        <h2>
                            {{ item.PlateNumber }}
                            <i class="item-note">รอส่งวิเคราะห์</i>
                        </h2>
                    </ion-item>
                </ion-list>
                <h5 class="text-center" ng-show="cx.DisplayVehichleReady().length == 0">ไม่มีข้อมูลของรถ!</h5>
            </div>
        </div>
        <div>
            <div class="energized-bg row">
                <div class="col"><h4 class="light">ส่งวิเคราะห์</h4></div>
            </div>
            <div>
                <ion-list>
                    <ion-item class="item item-calm" ng-repeat="item in cx.DisplayVehichleCompleted() | filter: searchPlateNumber" ng-click="cx.SelectVehicle(item)">
                        <h2>
                            {{ item.PlateNumber }}
                            <i class="item-note">วิเคราะห์แล้ว</i>
                        </h2>
                    </ion-item>
                </ion-list>
                <h5 class="text-center" ng-show="cx.DisplayVehichleCompleted().length == 0">ไม่มีข้อมูลของรถ!</h5>
            </div>
        </div>

    </ion-content>
    <!--<ion-footer-bar class="bar-balanced tabs">
        <a class="tab-item col tab-item-active">
            <h4 class="light">ส่งวิเคราะห์ทั้งหมด</h4>
        </a>
    </ion-footer-bar>-->
</ion-view>